/*************css的全局设置***开始**************/
*{
	font-size: 16px;
	font-family: "微软雅黑";
	color: #000000;
}
a{
	cursor: pointer;
	color: inherit;
	outline: none;
	text-decoration: none;
}
ul,ol{
	list-style-type: none;/*去除默认的样式*/
}
button{
	cursor: pointer;
	outline: none;
	border: 0;
	border-radius: 5px;
}
input[type="button"]{
	cursor: pointer;
	outline: none;
	border: 0;
	border-radius: 5px;
}
.textCenter{
	text-align: center;
}
.textLeft{
	text-align: left;
}
.textRight{
	text-align: right;
}
.hidden{
	display: none;
}
/*****************css的全局设置***结束************************************/

/******************宽度设置和浮动的设置***开始*************************************************/
.content{
	width: calc(80vw + 2px);
	margin: 20px auto 0;
}
/*宽度*/
.col-1{
	width: 10%;
}
.col-2{
	width: 20%;
}
.col-3{
	width: 30%;
}
.col-4{
	width: 40%
}
.col-5{
	width: 50%;
}
.col-6{
	width: 60%;
}
.col-7{
	width: 70%;
}
.col-8{
	width: 80%;
}
.col-9{
	width: 90%;
}
.col-10{
	width: 100%;
}
/*左浮动*/
.marginLeft-1{
	margin-left: 10%;
}
.marginLeft-2{
	margin-left: 20%;
}
.marginLeft-3{
	margin-left: 30%;
}
.marginLeft-4{
	margin-left: 40%;
}
.marginLeft-5{
	margin-left: 50%;
}
.marginLeft-6{
	margin-left: 60%;
}
.marginLeft-7{
	margin-left: 70%;
}
.marginLeft-8{
	margin-left: 80%;
}
.marginLeft-9{
	margin-left: 90%;
}
.marginLeft-10{
	margin-left: 100%;
}

/*右浮动*/
.marginRight-1{
	margin-right: 10%;
}
.marginRight-2{
	margin-right: 20%;
}
.marginRight-3{
	margin-right: 30%;
}
.marginRight-4{
	margin-right: 40%;
}
.marginRight-5{
	margin-right: 50%;
}
.marginRight-6{
	margin-right: 60%;
}
.marginRight-7{
	margin-right: 70%;
}
.marginRight-8{
	margin-right: 80%;
}
.marginRight-9{
	margin-right: 90%;
}
.marginRight-10{
	margin-right: 100%;
}
.floatLeft{
	float: left;
}
.floatRight{
	float: right;
}
.floatClear{
	clear: both;
}
