/*首页的css样式*/
.leftNav{
	height: 600px;
}
#leftNav .col-9{
	overflow: hidden;
}
/*导航边框样式1*/
.navBorder1{
	height: 275px;
	width: 2px;
	border-right: 1px dotted #333333;
}
/*导航向左或者向右的箭头设置*/
.arrows span{
	font-size: 36px;
	font-weight: bold;
	color: #FFC83D;
	cursor: pointer;
}
/*被选中的导航的样式*/
.navClick{
	background-color: #0044ff;
}